@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

$primary-color: #1D153A;
$secondary-color: #878395;
$tertiary-color: #FCB374;
$quartery-color: #FDFDFC;
$fifth-color: rgba(255, 255, 255, 0.3);
$sixth-color: #F0F0F0;
$seventh-color: #A668F3;

* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  color: $primary-color;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body, html {
  height: 100%;
}

.circle {
  background: radial-gradient(80.99% 100% at 50% 0%, #00FF0A 0%, #36008E 100%), radial-gradient(50% 123.47% at 50% 50%, #EFE7C8 0%, #A668F3 100%), linear-gradient(301.28deg, #E995D8 0%, #48DD9E 100%), linear-gradient(294.84deg, #5A60E4 0%, #FCB374 100%), linear-gradient(52.29deg, #000000 0%, #00FF85 100%), radial-gradient(100% 138.69% at 100% 0%, #0007A5 0%, #FF7A00 100%), radial-gradient(70.41% 100% at 50% 0%, #D5B300 0%, #2200AA 100%);
  background-blend-mode: screen, screen, lighten, overlay, lighten, difference, normal;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
}

main {
  height: 100%;
}

.main__div {
  overflow: scroll;
  height: calc(100vh - 120px);
}

@mixin button {
  padding: 0.4rem;
  border: none;
  border-radius: 0.6rem;
}

@mixin input {
  text-align: left;
  padding: 0.2rem 0.5rem;
  height: 2rem;
  width: 90%;
  border: none;
  margin-top: 0.5rem;
  border-color: white;
  background-color: $sixth-color;
  border-radius: 1.5rem;
}

@mixin nav {
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.nav {
  @include nav;
  box-shadow: 0px 0px 20px rgb(227, 227, 227);
}

.nav__icon__inactive {
  filter: grayscale(100%);
}

.nav__plan, .nav__profile {
  width: 30px;
  padding-top: 5px;
}
.nav__home, .nav__recipes {
  width: 40px;
}

.logo {
  @include nav;
  top: 0;
  padding: 0;
  box-shadow: 0px 0px 20px rgb(227, 227, 227);

    p {
      font-family: 'Limelight', cursive;
      font-size: 1.5rem;
      display: inline-block;
      margin-top: 1rem;
      text-transform: uppercase;
    }
}

.daily-schedule__date {
  background-color: $tertiary-color;
  border-radius: 0.5rem;
  padding: 0.1rem 0 0.2rem;
  width: 4rem;
  margin: 0.5rem 1.2rem;
  font-size: 0.8rem;
}

.schedule__daily-schedule {
  margin: 0 1rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 20px 50px #eaebff;

  @mixin daily-schedule__date {
    text-align: left;
    margin: 0 0 0.8rem 0.8rem;
    font-size: 1rem;
    font-weight: 300;
  }
  
  h3 {
    @include daily-schedule__date;
    color: #878395;
  }
  
  .daily-schedule__meal {
    color:#878395;
    margin-bottom: 0.1rem;
  }

  
  li {
    background-color: rgba(255, 255, 255);
    box-shadow: 2px 2px 2px $fifth-color;
    padding: 1rem;
    margin: 0 0.7rem 0.7rem;
    border-radius: 1rem;
  }
}

.searchbar {
  margin-top: -2px;
  padding: 1rem 0 0;
  margin-bottom: 2rem;
  position: absolute;
  display: inline-block;
  display: flex;
  justify-content: center;
  max-height: 80%;
  // height: 7rem;
  width: 100%;
  box-shadow: 0px 9px 20px rgb(227, 227, 227, 0.5);
  // background-color: $quartery-color;
  
  // .searchbar__dropdown {
  //   display: none;
  //   background-color: $quartery-color;
  //   border-radius: 1rem;
  //   height: 5rem;
  //   overflow-y: scroll;
  //   // z-index: 1;
  // }
  
  .searchbar__input {
    @include input;
  }
  
}

.searchbar:hover .searchbar__dropdown {
  display: block;
  width: 12rem;
  // z-index: 5;
}

.main__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__header {
  margin: 1rem 0 1rem 1rem;
  font-size: 1.2rem;
}

.plan__options {
  background-color: $fifth-color;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  width: 95%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgb(227, 227, 227);
}

.plan__optin__headers {
  font-size: 0.8rem;
  text-align: left;
  color: $secondary-color;
  margin: 1rem 0 0 1.5rem;
}

.days__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%; /* Full-width */
  height: 5px; /* Specified height */
  background: white; /* Grey background */
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.days__slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background-color: $primary-color; /* Green background */
  border-radius: 15px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 12px; /* Set a specific slider handle width */
  height: 12px; /* Slider handle height */
  background: $primary-color; /* Green background */
  border-radius: 15px;
  cursor: pointer; /* Cursor on hover */
}

.days__numbers {
  width: 88%;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: red;
}

.plan__form__name {
  @include input;
  // margin: auto;
}

.plan__buttons {
  display: flex;
  justify-content: left;
  margin-left: 0.5rem;
}

.plan__meals-in-day {
  @include button;
  background-color: white;
  color: $primary-color;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.7rem;
}

.plan__meals-in-day_selected {
  background-color: $primary-color;
  color: white;
}

.plan__save {
  @include button;
  margin: 2rem;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: $tertiary-color;
  color: white;
}

.main__recipes {
  height: calc(100vh - 222px);
}

.recipe__body {
  margin-top: 100px;
}

.recipe__container {
  height: 60px;
}

.recipes__searchbar {
  background-color: white;
  padding: 1.5rem 0;
}

.recipe__card {
  background-color: $quartery-color;
  margin: 1rem;
  border-radius: 0.5rem;

  .recipe__first-line {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 0.5rem;
    padding: 0.5rem 0 0.5rem;
  }
  
  .recipe__name {
    text-align: left;
    font-size: 1rem;
  }

  .recipe__calories {
    color: $secondary-color;
  }
  
  .recipe__ingredients {
    margin: 0 0 0 0.5rem;
    color: $secondary-color;
    text-align: left;
    width: 80%;
  }

  .more-info__button {
    @include button;
    background-color: $seventh-color;
    color: $quartery-color;
    margin: 0 0 1rem 15rem;
  }

}

.recipe__new {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin: 1rem 0;
  
  .recipe__new-button {
    @include button;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: radial-gradient(ellipse at top,#FCB374, #FF8B2D);
    color: $fifth-color;

      p {
        font-size: 30px;
        color: white;
        margin: 0 0 2px 2px;
        font-weight: 50px;
      }
  }
  
  .recipe__new-text {
    color: $tertiary-color;
    font-size: 1rem;

  }
}

.recipe__new-recipe {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.new-recipe__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 0.5rem;
  border: 1px solid #888;
  width: 80%; 
  height: 80%;

  
}

.new-recipe__input__name, .new-recipe__input__portions, .searchbar__input {
  @include input;
}